.tag {
  border: 1px solid var(--border-color);
  background: var(--hover-background);
  border-radius: 999px;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
  color: black;
}

.tag.active {
  background-color: var(--dark-blue);
  color: white;
  font-weight: 600;
}